.header {
  height: 34vw;
  margin: 30px auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}  
.header-contents{    
  position: absolute;    
  display: flex;    
  flex-direction: column;    
  align-items: start;    
  justify-content: space-between;    
  gap: 1.5vw;    
  max-width: 50%;    
  bottom: 10%;    
  left: 6vw;    
  animation: fadeIn 5s;    
}    
.header-contents h1{    
  font-weight: 500;    
  color: white;    
  font-size: max(4.5vw, 22px);    
}    
.header-contents p{    
  color: white;    
  font-size: 1.5vw;    
}    
.header-contents button{    
  border: none;    
  color: black;    
  font-weight: 300;    
  padding: 1vw 2.3vw;    
  background: white;    
  font-size: max(1vw, 13px);    
  border-radius: 50px;    
}    
@media (max-width: 768px){

  .header{
    height: 80vw;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
  }

  .header-contents{
    max-width: 100%;
    left: 20px;
    right: 20px;
    bottom: 20px;
    gap: 12px;
  }

  .header-contents h1{
    font-size: 28px;
    color: white;
  }

  .header-contents p{
    display: none;
  }

  .header-contents button{
    padding: 12px 24px;
    font-size: 15px;
    font-weight: 500;
  }
}